@model IEnumerable<StoreAppWebUI.Models.InventoryVM>
@{ 
    int store = Convert.ToInt32(Context.Request.Query["p_storeId"]);
    int customer = Convert.ToInt32(Context.Request.Query["p_id"]);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Order Placement</title>
</head>
<body>
    <h3>Place Order</h3>

    <form asp-action="Order">
        <!-- table to list selected store inventory -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity Remaining</th>
                    <th>Amount desired</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LineItem.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityHeld)
                        </td>
                        <td>
                            @Html.ActionLink("Choose Order Amount", "OrderAmount", 
                                        new { storeId = store, customerId = customer, productId = item.LineItemId, price = item.Price, 
                                                    quantity = item.QuantityHeld, name = item.LineItem.Name },
                                        new { @style = "color:white;", @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <a asp-action="Index" class="btn btn-danger" style="position:relative; top:10px;">Back</a>
</body>
</html>