<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Order was placed. Press back to go to Customer Menu</h3>

    <a asp-action="Index" class="btn btn-danger" style="position:relative; top:10px;">Back</a>
</body>
</html>