@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the P1 Store App</h1>
    <p>We don't sell cars.</p>
    <img src="https://robbreport.com/wp-content/uploads/2016/08/01-mclaren-p11.jpg?w=991"  />
</div>
