@model IEnumerable<StoreAppWebUI.Models.StoreFrontVM>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>StoreFront Home Page</h1>

    <!-- table to list all the stores in the database-->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>