@model StoreAppWebUI.Models.InventoryVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Quantity Updated. Please press Back to go to Menu</h3>
    <br />
    <a asp-action="Index" class="btn btn-danger" style="position:relative; top:10px;">Back</a>
</body>
</html>