@model StoreAppWebUI.Models.InventoryVM
@{
    int Store = Convert.ToInt32(Context.Request.Query["storeId"]);
    int Product = Convert.ToInt32(Context.Request.Query["itemId"]);
    int Current = Convert.ToInt32(Context.Request.Query["current"]);
    string name = Convert.ToString(Context.Request.Query["name"]);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Replenish Inventory</h3>

    <form asp-action="Replenish">
        <input hidden asp-for="StoreId" value="@Store" />
        <input hidden asp-for="LineItemId" value="@Product" />
        <!-- table to list all the store's inventory in the database-->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Old Quantity</th>
                    <th>New Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Current)
                    </td>
                    <td>
                        <input asp-for="QuantityHeld" />
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a asp-action="Index" class="btn btn-danger" style="position:relative; top:10px;">Back</a>
</body>
</html>